@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

.bg-blue-dark {
  background-color: rgba(17, 39, 74, 1);
}

.bg-card-searchbox {
  background-color: rgba(66, 89, 124, 1);
}

nav {
  background-color: #11274a;
}

.nunito {
  font-family: "Nunito", sans-serif;
}
.carcar {
  color: rgba(171, 179, 191, 1);
  font-weight: bold;
  font-size: 1.9em;
}
.russo-one {
  font-family: "Russo One", sans-serif;
}
.upsize {
  font-size: 3em;
}
.mt-minus {
  margin-top: -60px;
}
.text-blue-dark {
  color: rgba(17, 39, 74, 1);
}

.bg-gold {
  background-color: rgba(185, 164, 129, 1);
}

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.bg-card2 {
  background-color: rgba(41, 61, 92, 1);
}

.regbtn {
  font-weight: bold;
}
